accelerate==0.25.0
aiohttp==3.9.3
alembic==1.12.0
apscheduler==3.10.1
asyncio==3.4.3
asyncpg==0.28.0
beautifulsoup4==4.12.3
bitsandbytes==0.41.3
black==24.2.0
chromadb==0.4.22
click>=8.1.6
colorama==0.4.6
croniter==1.4.1
cryptography>=36.0.0
ctranslate2>=2.17.0
datasets==2.16.1
einops==0.7.0
faiss-cpu==1.7.4
fastapi==0.109.2
ffmpeg-python==0.2.0
flake8==7.0.0
flask==2.3.3
googletrans==4.0.0-rc1
gputil==1.4.0
huggingface-hub>=0.17.3
insightface==0.7.3
isort==5.13.2
joblib>=1.3.2
jsonschema==4.20.0
langchain==0.1.4
librosa==0.10.1
lmdb==1.4.1
loguru==0.7.0
matplotlib==3.8.3
mediapipe==0.10.7
msgpack>=1.0.5
mss==9.0.1
mypy==1.8.0
networkx==3.2.1
nltk==3.8.1
noisereduce==2.0.1
numpy==1.26.4
nvidia-ml-py3==7.352.0
onnx>=1.14.0
openai-whisper==20231117
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
optimum==1.13.2
pandas==2.2.1
peft==0.7.1
pillow==10.0.1
playwright==1.42.0
plotly==5.19.0
prometheus-api-client==0.5.2
prometheus-client==0.19.0
protobuf>=4.24.0
psutil==5.9.8
psycopg2-binary==2.9.9
pyyaml==6.0.1
pyzmq==27.0.0
redis==5.0.1
requests==2.31.0
scikit-image==0.21.0
scikit-learn==1.4.1.post1
scipy==1.12.0
sentencepiece==0.1.99
sentence-transformers==2.5.1
sounddevice==0.4.6
soundfile==0.12.1
sqlalchemy==2.0.27
torchaudio==2.1.0
torch==2.2.1
transformers==4.38.2
tqdm==4.66.2
uvicorn==0.27.1
webrtcvad==2.0.10
xformers==0.0.22.post7
ylab 