{
    "PORCUPINE_ACCESS_KEY": "your_porcupine_access_key_here",
    "OPENAI_${SECRET_PLACEHOLDER} "your_openai_api_key_here",
    "ELEVENLABS_${SECRET_PLACEHOLDER} "your_elevenlabs_api_key_here",
    "GOOGLE_CLOUD_${SECRET_PLACEHOLDER} "your_google_cloud_api_key_here"
}
